.header {
  background: white;
  -webkit-box-shadow: 0px 5px 15px -2px rgba(34, 60, 80, 0.18);
          box-shadow: 0px 5px 15px -2px rgba(34, 60, 80, 0.18);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.header__inner {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header__logo {
  width: 200px;
  height: auto;
}

.header__burger {
  display: none;
}

@media (max-width: 1199.98px) {
  .header__burger {
    display: block;
  }
}

.header-mobile {
  position: relative;
  visibility: hidden;
  opacity: 0;
  height: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header-mobile_active {
  visibility: visible;
  opacity: 1;
  height: 100%;
}

@media (max-width: 1199.98px) {
  .header__nav {
    display: none;
  }
}

@media (max-width: 1199.98px) {
  .header__nav_mobile {
    display: block;
  }
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-list_mobile {
  border-top: 1px solid #cdcd;
  padding: 40px 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__nav-item {
  list-style-type: none;
}

.header__nav-item:not(:last-child) {
  margin-right: 40px;
}

.header__nav-item_mobile:not(:last-child) {
  margin-right: 0;
  margin-bottom: 40px;
}

.header__nav-link {
  color: black;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header__nav-link::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 2px;
  background: #e30611;
  top: 52px;
  left: 0;
  z-index: 50;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header__nav-link_mobile::after {
  top: 20px;
}

.header__nav-link:hover {
  color: black;
}

.header__nav-link:hover::after {
  width: 100%;
}

@media (max-width: 1199.98px) {
  .header__button {
    display: none;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

.btn_red {
  background: #e30611;
  padding: 10px 15px;
}

.btn_close {
  padding: 10px 15px;
}

.card {
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #d6d6d6;
  width: 350px;
  height: 100%;
  padding: 20px;
  border-radius: 15px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.card:not(:nth-child(3n)) {
  margin-right: 20px;
}

@media (max-width: 1122.98px) {
  .card:not(:nth-child(3n)) {
    margin-right: 0;
  }
  .card:not(:nth-child(2n)) {
    margin-right: 20px;
  }
}

@media (max-width: 991.98px) {
  .card:not(:nth-child(3n)) {
    margin-right: 0;
  }
  .card:not(:nth-child(2n)) {
    margin-right: 0;
  }
}

@media (max-width: 767.98px) {
  .card {
    width: 300px;
    margin-right: 0;
  }
}

@media (max-width: 575.98px) {
  .card {
    width: 275px;
  }
}

.card:hover {
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 5px 15px -2px rgba(34, 60, 80, 0.18);
          box-shadow: 0px 5px 15px -2px rgba(34, 60, 80, 0.18);
}

.card-tariff {
  padding: 5px 0 20px 0;
  border-bottom: 1px solid #d6d6d6;
}

.card-tariff-text {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  width: 100%;
}

.card__attention {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-sentence {
  background: #f08c00;
  padding: 5px 0;
  width: 120px;
  border-radius: 5px;
  -webkit-animation: pulsing 2s infinite;
          animation: pulsing 2s infinite;
}

.card-sentence:not(:last-child) {
  margin-right: 10px;
}

.card-sentence-text {
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1.5px;
}

.card-sentence_sale {
  background: #f08c00;
}

.card-sentence_hot {
  background: #e30611;
}

.card-sentence_exclusive {
  background: #913f98;
}

.card-sentence_tv {
  background: #0082c8;
}

.card-parameters {
  margin-top: 30px;
  border-bottom: 1px solid #d6d6d6;
}

.card-parameter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.card-parameter-icon {
  width: 35px;
  height: 35px;
}

.card-parameter-description {
  margin-left: 15px;
}

.card-parameter-description-title {
  color: #b1afaf;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 5px;
}

.card-parameter-description-text {
  width: 200px;
  font-size: 18px;
  line-height: 20px;
}

.card-parameter-description-text-digit {
  font-size: 28px;
  line-height: 22px;
  font-weight: 500;
  margin-right: 5px;
}

.card-parameter-description-phone-item-text {
  font-size: 16px;
}

.card-parameter-description-phone-item-text-digit {
  font-size: 18px;
  font-weight: 600;
}

.card__info-connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__info-connection-wrapper {
  padding: 20px 0;
  border-bottom: 1px solid #d6d6d6;
}

.card__info-connection:not(:last-child) {
  margin-bottom: 10px;
}

.card__info-connection-text {
  font-size: 14px;
}

.card__info-connection-icon {
  width: 18px;
  height: 18px;
  margin-right: 15px;
}

.card__connection {
  padding: 20px 0;
  border-bottom: 1px solid #d6d6d6;
}

.card__equipment-text {
  font-size: 15px;
}

.card__equipment-price {
  color: #b1afaf;
  font-size: 12px;
  line-height: 18px;
  margin-left: 10px;
}

.card__order {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__price-digit {
  font-size: 42px;
  line-height: 48px;
  margin-right: 8px;
  font-weight: 500;
}

@media (max-width: 575.98px) {
  .card__price-digit {
    font-size: 32px;
  }
}

.card__price-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 15px;
  line-height: 10px;
}

.card__price-text-line {
  font-size: 0;
  line-height: 0;
  height: 1px;
  margin: 5px 0 2px 0;
  background: #e30611;
}

.card__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5px;
}

.card__details-link {
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  color: #b1afaf;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.card__details-link:hover {
  color: #e30611;
}

.form-check-input {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  cursor: pointer;
}

.form-check-input:checked {
  background-color: #e30611;
  border-color: #e30611;
}

.form-check-input:focus {
  border-color: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
}

.tariffs {
  margin-top: 150px;
}

@media (max-width: 767.98px) {
  .tariffs {
    margin-top: 100px;
  }
}

.tariffs__title {
  margin: 50px 0;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

@media (max-width: 767.98px) {
  .tariffs__title {
    font-size: 20px;
    margin: 0 0 20px 0;
  }
}

.tariffs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 991.98px) {
  .tariffs__item {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.container__slider {
  width: 1110px;
  margin: 0 auto;
  overflow: hidden;
}

@media (max-width: 1199.98px) {
  .container__slider {
    width: 720px;
  }
}

@media (max-width: 767.98px) {
  .container__slider {
    width: 620px;
  }
}

@media (max-width: 679.98px) {
  .container__slider {
    width: 300px;
  }
}

@media (max-width: 575.98px) {
  .container__slider {
    width: 275px;
  }
}

.slider-wrapper {
  margin: 0 -5px;
}

@media (max-width: 679.98px) {
  .slider-wrapper {
    margin: 0;
  }
}

.slider-item {
  margin: 5px;
}

@media (max-width: 679.98px) {
  .slider-item {
    margin: 0;
  }
}

.slider__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 25px 0 100px 0;
}

.slider__control-prev {
  margin-right: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.slider__control-next {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.form {
  background: #fff;
  height: auto;
  padding: 50px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767.98px) {
  .form {
    padding: 20px 20px;
  }
}

.form__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 800px;
}

.form__title {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 10px;
}

@media (max-width: 767.98px) {
  .form__title {
    font-size: 28px;
  }
}

@media (max-width: 320px) {
  .form__title {
    font-size: 18px;
  }
}

.form__description {
  text-align: center;
  font-size: 18px;
  margin-bottom: 50px;
}

@media (max-width: 767.98px) {
  .form__description {
    font-size: 14px;
    margin-bottom: 20px;
  }
}

@media (max-width: 320px) {
  .form__description {
    font-size: 12px;
    margin-bottom: 10px;
  }
}

@media (max-width: 767.98px) {
  .form-control {
    margin-bottom: 10px;
  }
}

.form__fio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

@media (max-width: 767.98px) {
  .form__fio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.form__input-phone {
  margin-bottom: 20px;
}

.form__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.form__check-modal-policy {
  margin-top: 30px;
}

.form__check-policy {
  margin-top: 30px;
}

.form__check-validate {
  font-size: 14px;
}

.form__button {
  margin-left: auto;
  margin-top: 40px;
}

.form__modal-button {
  margin-top: 40px;
}

.form-control:focus {
  color: #8d8d8d;
  background-color: #fff;
  border-color: #8d8d8d;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
  border-color: #dc3545;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-control.is-valid:focus,
.was-validated .form-control:valid:focus {
  border-color: #198754;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.hot-line {
  background: #fff;
  height: auto;
  padding: 50px 0;
  margin-top: 100px;
}

@media (max-width: 767.98px) {
  .hot-line {
    padding: 20px 0;
    margin-top: 50px;
  }
}

.hot-line__title {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 10px;
}

.hot-line__description {
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  width: 700px;
}

@media (max-width: 767.98px) {
  .hot-line__description {
    width: 300px;
  }
}

@media (max-width: 575.98px) {
  .hot-line__description {
    font-size: 12px;
    width: 200px;
  }
}

.hot-line__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #b1afaf;
  font-size: 44px;
  font-weight: 500;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  margin-top: 50px;
}

@media (max-width: 767.98px) {
  .hot-line__number {
    margin-top: 20px;
  }
}

@media (max-width: 575.98px) {
  .hot-line__number {
    font-size: 28px;
  }
}

.hot-line__number:hover {
  color: #000;
}

#map {
  width: 100%;
  height: 500px;
  margin-top: 20px;
}

@media (max-width: 767.98px) {
  #map {
    height: 300px;
  }
}

#map-modal {
  width: 100%;
  height: 200px;
}

.modal-header {
  border-bottom: none;
  padding-bottom: 0;
}

.modal-footer {
  border-top: none;
  margin-top: 0;
}

.modal__request {
  font-size: 24px;
  margin-bottom: 0;
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.hamburger {
  margin: 0 auto;
  width: 30px;
  height: 30px;
  position: relative;
}

.hamburger .bar {
  padding: 0;
  width: 30px;
  height: 4px;
  background-color: black;
  display: block;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: absolute;
}

.bar1 {
  top: 0;
}

.bar2,
.bar3 {
  top: 13.5px;
}

.bar3 {
  right: 0;
}

.bar4 {
  bottom: 0;
}

.hamburger3 .bar1 {
  -webkit-transform-origin: 5%;
          transform-origin: 5%;
}

.hamburger3 .bar4 {
  -webkit-transform-origin: 5%;
          transform-origin: 5%;
}

.checkbox3:checked + label > .hamburger3 > .bar1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 3px;
  width: 42px;
}

.checkbox3:checked + label > .hamburger3 > .bar3 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 3px;
  background-color: transparent;
}

.checkbox3:checked + label > .hamburger3 > .bar2 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  height: 3px;
  background-color: transparent;
}

.checkbox3:checked + label > .hamburger3 > .bar4 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  height: 3px;
  width: 42px;
}

body {
  background: #e7e6e6;
  font-family: "Arial", "Helvetica", sans-serif;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

.heading {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
}
