.form {
  background: #fff;
  height: auto;
  padding: 50px 20px;
  display: flex;
  justify-content: center;

  @media (max-width: 767.98px) {
    padding: 20px 20px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    width: 800px;
  }

  &__title {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 10px;
    @media (max-width: 767.98px) {
      font-size: 28px;
    }
    @media (max-width: 320px) {
      font-size: 18px;
    }
  }

  &__description {
    text-align: center;
    font-size: 18px;
    margin-bottom: 50px;
    @media (max-width: 767.98px) {
      font-size: 14px;
      margin-bottom: 20px;
    }

    @media (max-width: 320px) {
      font-size: 12px;
      margin-bottom: 10px;
    }
  }

  &-control {
    @media (max-width: 767.98px) {
      margin-bottom: 10px;
    }
  }

  &__fio {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    @media (max-width: 767.98px) {
      flex-direction: column;
    }
  }

  &__input-phone {
    margin-bottom: 20px;
  }

  &__address {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__check {
    &-modal-policy {
      margin-top: 30px;
    }
    &-policy {
      margin-top: 30px;
    }
    &-validate {
      font-size: 14px;
    }
  }

  &__button {
    margin-left: auto;
    margin-top: 40px;
  }

  &__modal {
    &-button {
      margin-top: 40px;
    }
  }
}

.form-control:focus {
  color: #8d8d8d;
  background-color: #fff;
  border-color: #8d8d8d;
  outline: 0;
  box-shadow: none;
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
  border-color: #dc3545;
  box-shadow: none;
}

.form-control.is-valid:focus,
.was-validated .form-control:valid:focus {
  border-color: #198754;
  box-shadow: none;
}
